<header class="py-5" style="background-color: #FFE082;>
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-black">
      <h1 class="display-4 fw-bolder"> <strong>WeCat</strong></h1>
      <p class="lead fw-normal text-black-50 mb-0"><em>Os gatinhos estão te esperando</em></p>
    </div>
  </div>
</header>
<section>
<section class="py-5" style="background-color: #FFF8E1;">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center fw-bold mb-4"></h2>
    <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">


    </div>
  </div>
</section>

</section>
